
    ion-segment {
      display: block;
      white-space: nowrap;
      font-size: 0;
      overflow: auto;
  
      &::-webkit-scrollbar {
        width: 0;
        height: 0;
        display: none;
      }
  
      ion-segment-button.segment-button {
        display: inline-block;
        min-width: 90px;
        width: auto;
      }
    }
    ion-toolbar {
      padding: 0px 4px !important;
      min-height: 43px !important;
    }
  
    .toolbar-ios ion-title {
      padding: 0 0px 1px;
    }
    ion-slide .slide-zoom {
      height: 100%;
      overflow-y: scroll;
    }

    ion-label {
      margin-left: 0 !important;
      margin-right: 0 !important;
    }

    ion-item .item-inner {
      padding-left: 0 !important;
      padding-right: 0 !important;
      border-bottom: none !important;
    }

    .card {

      box-shadow: 0px 5px 2px #b6c0cfde !important;

    }

    .label {
      margin: 0 !important;
    }